<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="ConverterHost.Converter">
        <endpoint address="http://localhost:8005/Converter/ep1" binding="basicHttpBinding"
            bindingConfiguration="" contract="ConverterHost.IConverter" />
        <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
            contract="ConverterHost.IConverter" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005/Converter/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>