<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConverter" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="mex">
                    <security mode="None" />
                </binding>
                <binding name="MetadataExchangeHttpBinding_IConverter">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:8005/Converter/ep1" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IConverter" contract="ServiceReference1.IConverter"
                name="BasicHttpBinding_IConverter" />
            <endpoint address="http://localhost:8005/Converter/" binding="wsHttpBinding"
                bindingConfiguration="mex" contract="ServiceReference1.IConverter"
                name="mex" />-->
            <endpoint address="http://localhost:8005/Converter/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_IConverter"
                contract="ServiceReference1.IConverter" name="MetadataExchangeHttpBinding_IConverter" />
        </client>
    </system.serviceModel>
</configuration>