<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="DiskInfoHost.DiskInfo">
                <endpoint address="http://localhost:8081/DiskInfo/ep1" binding="wsHttpBinding"
                    bindingConfiguration="" contract="DiskInfoHost.IDiskInfo" />
                <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
                    contract="DiskInfoHost.IDiskInfo" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8081/DiskInfo/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>