<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDiskInfo" />
                <binding name="mex">
                    <security mode="None" />
                </binding>
                <binding name="MetadataExchangeHttpBinding_IDiskInfo">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://localhost:8081/DiskInfo/ep1" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IDiskInfo" contract="ServiceReference1.IDiskInfo"
                name="WSHttpBinding_IDiskInfo">
                <identity>
                    <userPrincipalName value="ANDREW\palch" />
                </identity>
            </endpoint>-->
            <!--<endpoint address="http://localhost:8081/DiskInfo/" binding="wsHttpBinding"
                bindingConfiguration="mex" contract="ServiceReference1.IDiskInfo"
                name="mex" />-->
            <endpoint address="http://localhost:8081/DiskInfo/mex" binding="wsHttpBinding"
                bindingConfiguration="MetadataExchangeHttpBinding_IDiskInfo"
                contract="ServiceReference1.IDiskInfo" name="MetadataExchangeHttpBinding_IDiskInfo" />
        </client>
    </system.serviceModel>
</configuration>